* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins" sans-serif;
    min-height: 100vh;
    width: 100%;
    background: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 40px;
    color: #848484;
}

buttom {
    border: none;
    background: #2553df;
    font-size: 22px;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    padding: 14px 28px;
    margin-top: 20px;
}

buttom:hover {
    background: #1942be;
}
